.container{
    display: grid;
   /* grid-template-columns: 100px 100px 100px;*/
    /*grid-template-rows: 2fr 1fr 1fr;*/
    grid-template-areas: " h h h"
                        "m m m"
                        "f f f";
    gap: 10px;
}
.item{
    background-color: aquamarine;
    text-align: center;
}
.item1{
    grid-area: "h";
 /*   grid-column-start: 1;
    grid-column-end:3 ;*/
}
.item2{
    /*grid-column: 1/ span 3; */
    grid-area: "h";
}
.item3{
    grid-area: "h";
}
.item4{
    grid-area: "m";
}
.item5{
    grid-area: "m";
}
.item6{
    grid-area: "m";
}
.item7{
    grid-area: "f";
}
.item8{
    grid-area: "f";
}
.item9{
    grid-area: "f";
}